/*Importing Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body {
  background-color: #eee8dd;
  background-size: cover;
  z-index: 10;
}
:root {
  /*Colors*/
  --yellow-color: #fce472;
  --red-color: #ce2029;
  --dark-color: #1d1d1d;
  --primary-color: #e684ab;
  --secundary-color: #f6f1ec;

  /*Font size*/
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2.3rem;
  --font-size-xxl: 3.8rem;
  --font-size-xxxl: 5.8rem;

  /*Font weight*/
  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /*Border radius*/
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /*Site max width*/
  --site-max-width: 1300px;
}
/*Styling for the whole page */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}
/* Navbar styling*/
header {
  border-radius: var(--border-radius-s);
  background-color: var(--primary-color);
  box-shadow: -3px 12px 79px rgba(32, 31, 31, 0.2);
}

header .navbar {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 5px;
  box-shadow: -3px 12px 79px rgba(32, 31, 31, 0.1);
}

.logo-text {
  color: var(--dark-color); /*dark*/
  font-family: "Roboto Mono", monospace;
  font-weight: var(--font-weight-bold);
}
.navbar .nav-menu {
  display: flex;
  gap: 35px;
  font-size: var(--font-size-m);
}

.navbar .nav-menu .nav-link {
  color: var(--dark-color);
  font-weight: var(--font-weight-thin);
  letter-spacing: 1px;
}

/* title styling */
.hero-details .title {
  color: #a09b92;
  display: flex;
  font-family: "BBH Sans Bartle", sans-serif;
  font-size: var(--font-size-xxxl);
  justify-content: center;
  margin-top: 15rem;
}

.hero-details .subtitle {
  margin-top: -70px;
  color: var(--dark-color);
  display: flex;
  font-family: "Beth Ellen", cursive;
  font-size: var(--font-size-xxl);
  justify-content: center;
}

p {
  color: var(--primary-color);
  display: flex;
  font-family: "BBH Sans Bartle", sans-serif;
  justify-content: center;
}

/*  main styling */
.main-section {
  max-width: 95%;
}

/* make it responsive*/

@media screen and (max-width: 900px) {
  .navbar .nav-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background: #eee8dd;
  }
  .navbar:where(menu-open-button, menu-close-button) {
    font-size: var(--font-size-l);
  }
  .navbar #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .navbar #menu-open-button {
    color: var(--secundary-color);
  }
  .navbar .nav-menu .nav-link {
    color: var(--dark-color);
    display: block;
    margin-top: 17px;
    font-size: var(--font-size-m);
  }
  .hero-details .title {
    display: flex;
    display: block;
    align-items: center;
    font-size: var(--font-size-xxl);
  }
}
